@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.42em;
    color: #A7A1AE;
    background-color: #1F2739;
}

main {
    padding: 30px 15px;
}

h1 {
    font-size: 3em; 
    font-weight: 300;
    line-height: 1em;
    text-align: center;
    color: #4DC3FA;
}

h2 {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 2em; 
    font-weight: 300;
    line-height: 1em;
    text-align: center;
    color: #fff;
}

.container {
    text-align: left;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
}
 
.container tr:nth-child(odd) {
    background-color: #323C50;
}
 
.container tr:nth-child(even) {
    background-color: #2C3446;
}
 
.container tr:hover {
    background-color: #464A52;
}

.container td {
    font-weight: normal;
    font-size: 1em;
}

.container td:first-child { 
    color: #4DC3FA; 
    padding-left: 2%;
}

.container td {
    height: 40px;    
}

.container a {
    display: block;    
    width: 98%;
    padding-left: 2%;
    text-align: center;
    line-height: 40px; 
    height: 100%;
    color: #A7A1AE;
    font-weight: 400;
    text-decoration: none;
}
 
.container a:hover {
    background-color: #FB667A;  
    color: #fff;
    transition: all .4s;
}
 
@media (max-width: 800px) {
    h1 {
        font-size: 2em; 
    }
}

@media (max-width: 800px) {
    h2 {
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 1.8em; 
    }
}
