main .tasks-input {
  display: flex; }
  main .tasks-input button {
    max-height: 34px; }

main .task-list {
  position: relative; }
  main .task-list .form-group {
    float: left;
    margin-bottom: 0; }
    main .task-list .form-group .checkbox {
      margin: 0;
      position: relative;
      top: -2px; }
  main .task-list .title {
    position: relative;
    top: -3px;
    right: -5px;
    text-decoration: none;
    color: #000; }
  main .task-list .edit {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 2rem; }
    main .task-list .edit input {
      width: 80%;
      height: 100%;
      padding: 0 5px; }
    main .task-list .edit button {
      border-radius: 0;
      position: relative;
      top: -1px;
      width: 20%;
      height: 100%; }

.task-container .btnGroup {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px; }
  .task-container .btnGroup a {
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    color: #000;
    text-decoration: none;
    margin-left: 5px; }
    .task-container .btnGroup a:hover {
      background: #ccc;
      transition: all .4s; }

.task-container input {
  display: block;
  margin-bottom: 10px;
  max-width: 200px; }

.task-container textarea {
  resize: none;
  min-height: 200px; }

.task-container .move-block button {
  margin-right: 5px;
  margin-bottom: 10px; }
