@font-face {
    font-family: Lato;
    src: url('../fonts/Lato-Black.woff2');
    font-weight: 800;
}

@font-face {
    font-family: Lato;
    src: url('../fonts/Lato-Bold.woff2');
    font-weight: 600;
}

@font-face {
    font-family: Lato;
    src: url('../fonts/Lato-Regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: Oxygen;
    src: url('../fonts/Oxygen-Bold.woff2');
    font-weight: 600;
}

@font-face {
    font-family: Oxygen;
    src: url('../fonts/Oxygen.woff2');
    font-weight: 400;
}

@font-face {
    font-family: Teko;
    src: url('../fonts/Teko-Regular.woff2');
    font-weight: 400;
}
