.search-block {
    min-height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .form-check label {
        margin-right: 15px;
        font-size: 0.9rem;
        cursor: pointer;
    }

    input {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .btn {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .no-results-warning {
        position: absolute;
    }

    @media screen and ( max-width: 580px) {
      display: flex;
      justify-content: center;
    }
}
